[Unit]
Description=daemon.py service
After=syslog.target

[Service]
ExecStart=/srv/BTC2nd-06/scanner_daemon/venv/bin/python /srv/BTC2nd-06/scanner_daemon/scanner_daemon/daemon.py

Restart=on-failure
KillSignal=SIGQUIT
Type=simple
StandardOutput=/var/log/python/coin_daemon/daemon.log
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target