[Unit]
Description=uWSGI service
After=syslog.target
 
[Service]
ExecStart=/srv/BTC2nd-06/scanner_daemon/venv/bin/uwsgi -i /srv/BTC2nd-06/scanner_daemon/.config/uwsgi/mysite.ini
 
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target
